* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: black !important;
  font-weight: 400 !important;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

/* Header Section Css Start */

.navbar-brand img {
  width: 100px;
}

nav.navbar.navbar-expand-sm {
  background-color: black;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

a.nav-link,
a.navbar-brand {
  color: white;
  font-size: 18px;
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
  color: #E21818;
}

#collapsibleNavbar {
  justify-content: right;
}

#collapsibleNavbar li {
  padding-left: 20px;
}

.underlinks li {
  padding: 0px !important;
  color: white !important;
}

.underlinks a:hover {
  background-color: #E21818;
  color: white;
}

#collapsibleNavbar ul.dropdown-menu.underlinks.show {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: black;
  color: white !important;
  left: 10px;
}

a.dropdown-item {
  color: white;
}

/* Header Section Css End */

/* Heros Section Css Start */

.hero-wrapper {
  padding-top: 50px;
}

.hero-wrapper-image img {
  width: 100%;
  object-fit: cover;
}

.hero-wrapper-content {
  position: absolute;
}

.hero-wrapper-content {
  position: absolute;
  top: 20%;
  color: white;
  left: 30%;
  transform: translate(-50%, 50%);
}

.hero-wrapper-content h1 {
  max-width: 550px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-wrapper-content p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.btn.Registerbtn {
  background-color: #E21818;
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0px;
}

.btn.Registerbtn:hover {
  background-color: #BD2000;
  color: white;
}

/* Heros Section Css END */


/* Signin Section CSS START */



.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.Auth-form {
  width: 450px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.Auth-form-content input.form-control {
  padding: 10px;
  background: white;
}

.Auth-form-content input.form-control:focus {
  outline: none;
  box-shadow: none;
}

.Auth-form-content {
  padding: 0px 40px;
}

.text-center.Auth-form-text span {
  color: #E21818;
  cursor: pointer;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
  font-weight: 800;
}

.Auth-form-text p {
  margin-bottom: 30px;
}

.Auth-form-content label {
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 0px 0px;
}

.forgotlink a {
  text-decoration: none;
  display: flex;
  justify-content: end;
}

.submitbtn .btn {
  background-color: #E21818;
  color: white !important;
  font-weight: 600;
  padding: 13px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submitbtn .btn:hover {
  background-color: #BD2000;
}

.submitbtn .btn:focus,
.submitbtn .btn:active {
  box-shadow: none;
  outline: none;
  border: none;
}

/* Signin Section CSS END */